@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: #0b1020;
  color: #e8eeff;
}

#cube-viewport:fullscreen {
  width: 100vw;
  height: 100vh;
}
